body {
    background-image:url("background.jpg");
    background-size : 1500px;
}
.container{
    background-color: grey transparent;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:20px;
    position:fixed;
}
#a{
    font-family: sans-serif;
    font-size:20px;
    text-decoration: none;
    padding:17px;
    color:white;
}
#a:hover{
    color:green;
}
.container-x {
    position: relative;
    top:100px;
    color: White;
}
.container{
    background-color: grey transparent;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:20px;
    position:relative;
}